.question{
width: 55%;
background-color: #FEF9F3;
margin-left: auto;
margin-right: auto;
padding-top: 0px;
text-align: left;
}
.line1{
  border: 1.5px solid #4ED0CE; 
}

.td{
  min-width: 100px;
  border: solid 1px;

}
@media (max-width:750px){
  .question{
  width: 90%;
  }
}